.cadastro-container {
  background: url('images/fundo.png') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  background-image: url('images/fundo-forms8.png');
  background-size: cover;
  background-position: center;
  padding: 150px;
  border-radius: 100px;
  height: 50%;
  width: 25%;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  margin-bottom: 10px;
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

button {
  background-image: url('images/placa3.png');
  background-position: center;
  padding: auto;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  height: 25%;
  
}

button:hover {
  background-color: #2e6b2e;
}

